<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us - Masters of Electronic Innovation - Rhosigma</title>
    <meta
      name="description"
      content="Meet Rhosigma, your electronic innovation partner. Dive into our story, where expertise meets cutting-edge solutions in design engineering and manufacturing."
    />
    <meta
      name="robots"
      content="max-image-preview:large, max-snippet:-1, max-video-preview:-1"
    />
    <%- include('partials/preconnect') %>
    <link
      rel="preload"
      as="image"
      href="https://rhosigma.in/images/about-us-banner.webp"
    />

    <!-- Open Graph meta tags for social sharing -->
    <meta
      property="og:title"
      content="About Us - Masters of Electronic Innovation - Rhosigma"
    />
    <meta
      property="og:description"
      content="Meet Rhosigma, your electronic innovation partner. Dive into our story, where expertise meets cutting-edge solutions in design engineering and manufacturing."
    />
    <meta property="og:url" content="https://rhosigma.in/about-us" />
    <link rel="canonical" href="https://rhosigma.in/about-us" />

    <!-- Twitter Card meta tags for Twitter sharing -->
    <meta
      name="twitter:title"
      content="About Us - Masters of Electronic Innovation - Rhosigma"
    />
    <meta
      name="twitter:description"
      content="Meet Rhosigma, your electronic innovation partner. Dive into our story, where expertise meets cutting-edge solutions in design engineering and manufacturing."
    />

    <%- include('partials/metas') %>
  </head>

  <body>
    <%- include('partials/navbar') %>

    <!-- !About Us Banner -->
    <section class="bg-container --bg-img-container about-us m-b-50 m-t-50">
      <h1 class="h1 fc-w fw6 t-upper tc">About Us</h1>
    </section>
    <!-- !About Us Banner -->

    <!-- !Achivements -->
    <section class="container achivements m-t-100 m-b-100">
      <div class="achivements__details">
        <p class="fc-s fw-5 p-2 lh-150">
          At Rhosigma, our story begins with a simple idea: To make technology
          work harder for you. What started as a small team with a big vision
          has grown into a trusted partner for businesses seeking top-tier
          Testing and Quality Assurance. We didn’t just want to be another
          service provider we wanted to be a team that truly understands the
          challenges you face. As we’ve grown, we’ve focused on one thing:
          innovation. Every test we conduct, every service we provide, is
          designed to ensure that your products are as reliable as they are
          groundbreaking. We believe in evolving with you and not just to meet
          your expectations, but to exceed them. We have a dedicated and
          experienced team of engineers and technicians specializing in
          Electronic Product Technology Development, Manufacturing, Aftersales
          Services, Supply Chain Management, Design Engineering, Internet of
          Things (IoT), Electronic Manufacturing Services (EMS), Defense,
          Telecommunication, and Energy.
        </p>

        <p class="fc-s fw-5 p-2 lh-150">
          Your challenges are our inspiration, and your success is our goal.
          We've faced setbacks, celebrated breakthroughs, and learned alongside
          you. And in every step, we’ve remained committed to one core value.
          Trust at Rhosigma and Join us as we continue to innovate and evolve.
          Together, we can take your products to new heights.
        </p>
        <div class="achivements__awards">
          <span
            ><img
              width="70"
              height="70"
              loading="eager"
              src="/images/award.svg"
              alt="Award - Rhosigma"
            />
            <p class="fc-w fw-5 p-2 tc">
              The Best Industrial Solution Provider
            </p>
          </span>
          <span
            ><img
              width="70"
              height="70"
              loading="lazy"
              src="/images/certified.svg"
              alt="certified - Rhosigma"
            />
            <p class="fc-w fw-5 p-2 tc">
              Certified By Many Accreditation Bodies
            </p>
          </span>
        </div>
      </div>
      <div class="unparalleled-value__visual-content m-t-50">
        <img
          width="300"
          height="200"
          loading="lazy"
          src="/images/firmware-development.webp"
          alt="unparalleled values - Rhosigma"
        />
        <img
          width="300"
          height="200"
          loading="lazy"
          src="/images/who-we-are-img-2_6.webp"
          alt="unparalleled  - Rhosigma"
        />
        <video width="300" height="200" autoplay muted playsinline loop>
          <source src="/images/drone.mp4" />
        </video>
        <img
          width="300"
          height="200"
          loading="lazy"
          src="/images/who-we-are-img-3_6.webp"
          alt="unparalleled values - Rhosigma"
        />
      </div>
    </section>
    <!-- !Achivements -->

    <!-- !people -->
    <!-- <section class="bg-container p-t-100 p-b-100">
            <div class="container people">
                <h2 class="h2 fc-a t-upper fw-6">People</h2>
                <div class="people__info">
                    <span class="people__img">
                        <img width="250" height="250" loading="lazy" src="/images/saeed-lanjekar.webp"
                            alt="Founder and Director">
                    </span>
                    <h3 class="h6 fc-a t-upper fw-6">Saeed Lanjekar</h3>
                    <span class="fc-s fs-18 fw-6 t-cap tc">(Founder & Director)</span>
                </div>
                <div class="people__info">
                    <span class="people__img">
                        <img width="250" height="250" loading="lazy" src="/images/salman-lanjekar.webp"
                            alt="Founder and Director">
                    </span>
                    <h3 class="h6 fc-a t-upper fw-6">SALMAN Lanjekar</h3>
                    <span class="fc-s fs-18 fw-6 t-cap tc">(CEO & Managing Director)</span>
                </div>
                <div class="people__info">
                    <span class="people__img">
                        <img width="250" height="250" loading="lazy" src="/images/faraz.webp" alt="Founder and Director">
                    </span>
                    <h3 class="h6 fc-a t-upper fw-6">FARAZ SHAIKH</h3>
                    <span class="fc-s fs-18 fw-6 t-cap tc">(R&D Head)</span>
                </div>
            </div>
        </section> -->
    <!-- !people -->

    <!-- !Mission Vission -->
    <section class="container mission-vision m-t-100 m-b-100">
      <div class="mission-vision">
        <div class="mission-vision__mis">
          <h2 class="h2 fc-a fw-5">Mission</h2>
          <h3 class="fc-s fw-6 p-1">
            Empowering Innovation, Transforming Futures
          </h3>
          <p class="p-2 fc-s fw-5 lh-150">
            At Rhosigma, our mission is to empower innovation, serving as
            catalysts for transformative change in the electronic technology
            landscape. We strive to provide cutting-edge solutions that not only
            meet but exceed the evolving needs of our clients.
          </p>
          <p class="p-2 fc-s fw-5 lh-150">
            Through our commitment to excellence, we aim to foster an
            environment where innovation flourishes, ideas come to life, and our
            clients embark on a journey of sustained success.
          </p>
        </div>
        <div class="mission-vision__vis">
          <h2 class="h2 fc-a fw-5">Vision</h2>
          <h3 class="fc-s fw-6 p-1">
            Pioneering Excellence in Electronic Solutions
          </h3>
          <p class="p-2 fc-s fw-5 lh-150">
            Our vision at Rhosigma is to be at the forefront of pioneering
            excellence in electronic solutions. We envision a future where our
            innovative technologies and tailored services redefine industry
            standards, setting new benchmarks for quality and efficiency.
          </p>
          <p class="p-2 fc-s fw-5 lh-150">
            With a commitment to sustainable practices and continuous
            improvement, we aspire to be the go-to partner for organizations
            seeking to navigate the complexities of the digital era.
          </p>
          <p class="p-2 fc-s fw-5 lh-150">
            Rhosigma envisions a world where electronic possibilities are
            limitless, and our solutions stand as a testament to pioneering
            excellence.
          </p>
        </div>
      </div>
    </section>
    <!-- !Mission Vission -->

    <!-- !Standards -->
    <section class="bg-container p-t-50 p-b-50">
      <div class="container standards">
        <div class="standards__card">
          <h2 class="h3 fc-a fw-6 t-upper">Innovation</h2>
          <span class="p-2 fc-s fw-6 t-cap">We Foster Creative Excellence</span>
          <p class="p fc-s fw-5 lh-150">
            Innovation is at the heart of Rhosigma. We embrace curiosity,
            encourage creativity, and continually seek groundbreaking solutions.
          </p>
        </div>
        <div class="standards__card">
          <h2 class="h3 fc-a fw-6 t-upper">Integrity</h2>
          <span class="p-2 fc-s fw-6 t-cap">We Uphold Ethical Excellence</span>
          <p class="p fc-s fw-5 lh-150">
            We prioritize transparency, honesty, and ethical conduct in every
            endeavor, ensuring trust and reliability in all our relationships.
          </p>
        </div>
        <div class="standards__card">
          <h2 class="h3 fc-a fw-6 t-upper">Collaboration</h2>
          <span class="p-2 fc-s fw-6 t-cap">We Thrive Together</span>
          <p class="p fc-s fw-5 lh-150">
            We bring together the strengths of our team to deliver exceptional
            results and support one another's growth.
          </p>
        </div>
        <div class="standards__card">
          <h2 class="h3 fc-a fw-6 t-upper">Client-Centricity</h2>
          <span class="p-2 fc-s fw-6 t-cap">We Prioritize Your Success</span>
          <p class="p fc-s fw-5 lh-150">
            By placing the client at the center of everything we do, we ensure
            that our solutions not only meet expectations but exceed them.
          </p>
        </div>
        <div class="standards__card">
          <h2 class="h3 fc-a fw-6 t-upper">Excellence</h2>
          <span class="p-2 fc-s fw-6 t-cap">Continuous Improvement</span>
          <p class="p fc-s fw-5 lh-150">
            We are committed to continuous learning, improvement, and the
            pursuit of the highest quality in all aspects of our work.
          </p>
        </div>
        <div class="standards__card">
          <h2 class="h3 fc-a fw-6 t-upper">Accountability</h2>
          <span class="p-2 fc-s fw-6 t-cap">We Take Ownership</span>
          <p class="p fc-s fw-5 lh-150">
            By being accountable, we ensure that our commitments are met, and we
            contribute positively to the success of our team and clients.
          </p>
        </div>
      </div>
    </section>
    <!-- !Standards -->

    <!-- !Clientele -->
    <% if(clients.length> 0) {%>
    <section class="container clientele m-t-100 m-b-100">
      <h2 class="tc h2 m-b-50">Clientele</h2>
      <div class="clientele__container">
        <% clients.forEach(client=> { %>
        <div class="clientele__logo">
          <img
            width="200"
            height="100"
            loading="lazy"
            src="<%= client.logo %>"
            alt="logo of <%= client.companyName %> - client of Rhosigma"
          />
        </div>
        <% }); %>
      </div>
    </section>
    <% }; %>
    <!-- !Clientele -->

    <!-- !  Infrastructure -->
    <!-- <section class="container infrastructure m-t-100 m-b-100">
                    <h2 class="h2 tc m-b-20">Infrastructure</h2>
                    <p class="fc-s fw-5 p-2">At Rhosigma, our robust infrastructure is the backbone of our operations,
                        designed
                        to
                        facilitate innovation,
                        efficiency, and seamless collaboration. We invest in cutting-edge technologies and
                        state-of-the-art
                        facilities to support the diverse needs of our dynamic projects. Our infrastructure is
                        characterized by
                    </p>
                    <div class="infrastructure__container m-t-50 m-b-50">
                        <div class="infrastructure__card">
                            <h3 class="fc-s h5 tc t-cap">Advanced Labs and Workspaces</h3>
                            <img width="3000" height="300" loading="lazy" src="/images/advanced-labs-workspaces.webp"
                                alt="advanced labs and workspaces">
                            <p class="fc-s fw-5 fs-18">Equipped with cutting-edge tools and technologies, providing our
                                team
                                with an
                                environment conducive to experimentation, development, and testing. Collaborative
                                workspaces
                                foster
                                creativity and open communication, ensuring that ideas flourish.</p>
                        </div>
                        <div class="infrastructure__card">
                            <h3 class="fc-s h5 tc t-cap">Secure Data Centers</h3>
                            <img width="3000" height="300" loading="lazy" src="/images/secure-data-centers_6.webp"
                                alt="advanced labs and workspaces">
                            <p class="fc-s fw-5 fs-18">We prioritize the security and integrity of data. Our
                                state-of-the-art
                                data
                                centers employ robust cybersecurity measures, guaranteeing the confidentiality and
                                availability
                                of
                                critical information for our clients and internal processes.
                            </p>
                        </div>
                        <div class="infrastructure__card">
                            <h3 class="fc-s h5 tc t-cap">High-Performance Computing</h3>
                            <img width="3000" height="300" loading="lazy" src="/images/high-performance-computing.webp"
                                alt="advanced labs and workspaces">
                            <p class="fc-s fw-5 fs-18">To meet the demands of complex simulations, modeling, and data
                                processing, we
                                invest in high-performance computing systems. This infrastructure empowers us to tackle
                                intricate
                                challenges efficiently and deliver results with precision.
                            </p>
                        </div>
                        <div class="infrastructure__card">
                            <h3 class="fc-s h5 tc t-cap">Cloud Integration</h3>
                            <img width="3000" height="300" loading="lazy" src="/images/cloud-integration.webp"
                                alt="advanced labs and workspaces">
                            <p class="fc-s fw-5 fs-18">Embracing the flexibility of cloud computing, we integrate cloud
                                solutions
                                into our infrastructure. This allows for scalability, accessibility, and collaborative
                                workflows,
                                ensuring that our team and clients can seamlessly access resources from anywhere.</p>
                        </div>
                        <div class="infrastructure__card">
                            <h3 class="fc-s h5 tc t-cap">Sustainable Practices</h3>
                            <img width="3000" height="300" loading="lazy" src="/images/sustainable-practices_6.webp"
                                alt="advanced labs and workspaces">
                            <p class="fc-s fw-5 fs-18">Our infrastructure incorporates eco-friendly practices, from
                                energy-efficient
                                systems to waste reduction initiatives. We believe in minimizing our environmental
                                footprint
                                while
                                maximizing the impact of our work.</p>
                        </div>
                        <div class="infrastructure__card">
                            <h3 class="fc-s h5 tc t-cap">Redundancy and Continuity</h3>
                            <img width="3000" height="300" loading="lazy" src="/images/redundancy-continuity_5.webp"
                                alt="advanced labs and workspaces">
                            <p class="fc-s fw-5 fs-18">Ensuring uninterrupted operations is paramount. Our
                                infrastructure is
                                designed with redundancy and continuity measures to mitigate risks, providing
                                reliability and
                                resilience in the face of unexpected challenges.</p>
                        </div>
                        <div class="infrastructure__card">
                            <h3 class="fc-s h5 tc t-cap">Scalable Architecture</h3>
                            <img width="3000" height="300" loading="lazy" src="/images/scalable-architecture_6.webp"
                                alt="advanced labs and workspaces">
                            <p class="fc-s fw-5 fs-18">Our infrastructure is built with scalability in mind. As our
                                projects and
                                teams grow, our architecture allows for seamless expansion, accommodating evolving needs
                                and
                                ensuring a future-ready foundation for innovation.</p>
                        </div>
                    </div>
                </section> -->
    <!-- !  Infrastructure -->
    <%- include('partials/contact') %> <%- include('partials/footer') %>
  </body>
</html>
