<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Mastery: Our Methodology for Success - Rhosigma</title>
    <meta name="description"
        content="Navigate the innovative electronics product journey with us, ensuring excellence from design to handover, marked by strategic development and strict testing.">
    <meta name="robots" content="max-image-preview:large, max-snippet:-1, max-video-preview:-1 ">
    <%- include('partials/preconnect') %>
        <link rel="preload" as="image" href="https://rhosigma.in/images/approach-banner.webp" />

        <!-- Open Graph meta tags for social sharing -->
        <meta property="og:title" content="Product Mastery: Our Methodology for Success - Rhosigma">
        <meta property="og:description"
            content="Navigate the innovative electronics product journey with us, ensuring excellence from design to handover, marked by strategic development and strict testing.">
        <meta property="og:url" content="https://rhosigma.in/approach">
        <link rel="canonical" href="https://rhosigma.in/approach" />


        <!-- Twitter Card meta tags for Twitter sharing -->
        <meta name="twitter:title" content="Product Mastery: Our Methodology for Success - Rhosigma">
        <meta name="twitter:description"
            content="Navigate the innovative electronics product journey with us, ensuring excellence from design to handover, marked by strategic development and strict testing.">
        <link rel="stylesheet" href="/css/swiper.css">
        <%- include('partials/metas') %>

</head>


<body>
    <%- include('partials/navbar') %>


        <!-- !Service Banner -->
        <section class="bg-container --bg-img-container approach-banner m-b-50 m-t-50">
            <h1 class="h1 fc-w fw6 t-upper tc">Approach</h1>
        </section>
        <!-- !Service Banner -->



        <!-- !What We Do -->
        <section class=" what-we-do m-t-75 m-b-75">
            <div class="container what-we-do__main-content">
                <h2 class="h2 m-b-20">What We DO</h2>
                <p class="p-2 fc-s fw-5 m-b-20 lh-150">At Rhosigma, we offer a spectrum of services to elevate your
                    electronic
                    innovations. From Firmware and Hardware Development to end-to-end Product Development, we bring your
                    ideas to market. Our expertise spans Reverse Engineering, Product Testing & Certification, and
                    specialized areas like HART and AI/ML applications. With a focus on Manufacturing Support, we ensure
                    efficient production processes. </p>
            </div>
        </section>
        <!-- !What We Do -->



        <!-- !Agile Methodology -->
        <section class="bg-container methodology p-t-50 p-b-50">
            <div class="container methodology__main-content">
                <h2 class="h2 m-b-20">Agile Methodology</h2>
                <p class="p-2 fc-s fw-5 m-b-50 lh-150">In the ever-evolving landscape of technological innovation,
                    Rhosigma
                    embraces the Agile methodology. Here, we forge a collaborative alliance with our clients,
                    facilitating
                    iterative progress and adaptability to changing requirements. Through regular reviews, continuous
                    communication, and incremental releases, our Agile approach ensures that our clients actively
                    participate in shaping the evolving product, resulting in a finely tuned solution that mirrors their
                    dynamic needs.</p>
                <img loading="lazy" class="methodology__img" width="960" height="260"
                    src="/images/agile-methodology.webp" alt="Agile Methodology - Rhosigma">
            </div>
        </section>
        <!-- !Agile Methodology -->


        <!-- !Agile Methodology -->
        <section class="container methodology m-t-100 m-b-100">
            <div class=" waterFall-methodology__main-content">
                <h2 class="h2 m-b-20">Waterfall Methodology</h2>
                <p class="p-2 fc-s fw-5 m-b-50 lh-150">For projects demanding a structured and linear trajectory,
                    Rhosigma
                    excels
                    in the Waterfall methodology. Our journey through design, development, and testing follows a
                    systematic
                    and sequential path, ensuring a comprehensive understanding of project requirements and objectives.
                    This
                    methodology is ideal for projects with well-defined goals and limited anticipated changes during the
                    development phase, providing a structured framework for precision and clarity.</p>
                <img loading="eager" class="methodology__img" width="500" height="450"
                    src="/images/waterfall-methodology_6.webp" alt="Waterfall Methodology - Rhosigma">
            </div>
        </section>
        <!-- !Agile Methodology -->





        <!-- ! Technologies we use -->
        <section class="bg-container p-t-50 p-b-50 technologies">
            <h2 class="h2 container m-b-50">Technologies we use</h2>
            <div class="swiper mySwiper container">
                <div class="technologies__grid-view silder-card">
                    <div class="swiper-slide technologies__grid-slide" data-filter="database">database</div>
                    <div class="swiper-slide technologies__grid-slide " data-filter="printed-circuit-board">
                        printed circuit board
                    </div>
                    <div class="swiper-slide technologies__grid-slide" data-filter="graphical-user-interface">
                        graphical user interface
                    </div>
                    <div class="swiper-slide technologies__grid-slide" data-filter="language">language</div>
                    <div class="swiper-slide technologies__grid-slide" data-filter="platform">platform</div>
                    <div class="swiper-slide technologies__grid-slide" data-filter="development">development
                    </div>
                    <div class="swiper-slide technologies__grid-slide" data-filter="operating-systems">
                        operating systems
                    </div>
                    <div class="swiper-slide technologies__grid-slide" data-filter="communication-protocol">
                        communication protocol
                    </div>
                    <div class="swiper-slide technologies__grid-slide" data-filter="wired-interfaces">
                        wired interfaces
                    </div>
                    <div class="swiper-slide technologies__grid-slide" data-filter="wireless-interfaces">
                        wireless interfaces
                    </div>
                    <div class="swiper-slide technologies__grid-slide" data-filter="display">display</div>
                    <div class="swiper-slide technologies__grid-slide" data-filter="touch">touch</div>
                    <div class="swiper-slide technologies__grid-slide" data-filter="memory">memory</div>
                    <div class="swiper-slide technologies__grid-slide" data-filter="processor">processor</div>
                    <div class="swiper-slide technologies__grid-slide" data-filter="sensors">sensors</div>
                </div>
            </div>

            <div class="swiper mySwiper2 container m-t-20">
                <div class="navigation">
                    <div class="swiper-button-prev">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 16" fill="none">
                            <path d="M8.5 1L1.5 8L8.5 15" stroke="url(#paint0_linear_42_330)" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <defs>
                                <linearGradient id="paint0_linear_42_330" x1="8.5" y1="1" x2="-0.876683" y2="2.83138"
                                    gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#0D9DE0" />
                                    <stop offset="1" stop-color="#2E5BAB" />
                                </linearGradient>
                            </defs>
                        </svg>
                    </div>
                    <div class="swiper-button-next">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 16" fill="none">
                            <path d="M1.5 1L8.5 8L1.5 15" stroke="url(#paint0_linear_42_332)" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <defs>
                                <linearGradient id="paint0_linear_42_332" x1="1.5" y1="1" x2="10.8767" y2="2.83138"
                                    gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#0D9DE0" />
                                    <stop offset="1" stop-color="#2E5BAB" />
                                </linearGradient>
                            </defs>
                        </svg>
                    </div>
                </div>

                <div class="swiper-wrapper  slier-234">
                    <div class="swiper-slide technologies__slider-card printed-circuit-board">
                        <span class="p-1 fc-a fw-6">MULTI LAYER</span>
                    </div>
                    <div class="swiper-slide technologies__slider-card printed-circuit-board">
                        <span class="p-1 fc-a fw-6"> RIGID-FLEX-METAL</span>
                    </div>
                    <div class="swiper-slide technologies__slider-card printed-circuit-board">
                        <span class="p-1 fc-a fw-6">THT-SMD-BGA</span>
                    </div>


                    <!-- ??!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!??????????????????????????!!!!!!!!!!!!!!!!!!! -->


                    <div class="swiper-slide technologies__slider-card graphical-user-interface">
                        <img loading="lazy" width="200" height="200" src="/images/html.webp" alt="HTML - Rhosigma">
                    </div>

                    <div class="swiper-slide technologies__slider-card graphical-user-interface">
                        <img loading="lazy" width="200" height="200" src="/images/js_6.webp"
                            alt="JAVASCRIPT - Rhosigma">
                    </div>

                    <div class="swiper-slide technologies__slider-card graphical-user-interface">
                        <img loading="lazy" width="200" height="200" src="/images/css.webp" alt="CSS - Rhosigma">
                    </div>

                    <div class="swiper-slide technologies__slider-card graphical-user-interface">
                        <img loading="lazy" width="200" height="200" src="/images/logo1_5.webp" alt="logo - Rhosigma">
                    </div>



                    <!-- ??!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!??????????????????????????!!!!!!!!!!!!!!!!!!! -->


                    <div class="swiper-slide technologies__slider-card platform">
                        <img loading="lazy" width="200" height="200" src="/images/Confluence.webp"
                            alt="Confluence - Rhosigma">
                    </div>

                    <div class="swiper-slide technologies__slider-card platform">
                        <img loading="lazy" width="200" height="200" src="/images/GIT.webp" alt="GIT - Rhosigma">
                    </div>

                    <div class="swiper-slide technologies__slider-card platform">
                        <img loading="lazy" width="200" height="200" src="/images/JIRA.webp" alt="JIRA - Rhosigma">
                    </div>

                    <div class="swiper-slide technologies__slider-card platform">
                        <img loading="lazy" width="200" height="200" src="/images/kicad_logo_small.webp"
                            alt="kicad - Rhosigma">
                    </div>
                    <div class="swiper-slide technologies__slider-card platform">
                        <img loading="lazy" width="200" height="200" src="/images/PlatformIO.webp"
                            alt="PlatformIO - Rhosigma">
                    </div>

                    <!-- ??!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!??????????????????????????!!!!!!!!!!!!!!!!!!! -->

                    <div class="swiper-slide technologies__slider-card language">
                        <img loading="lazy" width="200" height="200" src="/images/c.webp" alt="C - Rhosigma">
                    </div>
                    <div class="swiper-slide technologies__slider-card language">
                        <img loading="lazy" width="200" height="200" src="/images/cpp.webp" alt="C++ - Rhosigma">
                    </div>
                    <div class="swiper-slide technologies__slider-card language">
                        <img loading="lazy" width="200" height="200" src="/images/java.webp" alt="Java - Rhosigma">
                    </div>
                    <div class="swiper-slide technologies__slider-card language">
                        <img loading="lazy" width="200" height="200" src="/images/python_5.webp"
                            alt="Python - Rhosigma">
                    </div>


                    <!-- ??!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!??????????????????????????!!!!!!!!!!!!!!!!!!! -->

                    <div class="swiper-slide technologies__slider-card development">
                        <img loading="lazy" width="200" height="200" src="/images/deve-4.webp" alt="unity - Rhosigma">
                    </div>
                    <div class="swiper-slide technologies__slider-card development">
                        <img loading="lazy" width="200" height="200" src="/images/deve-1.webp" alt="logo - Rhosigma">
                    </div>
                    <div class="swiper-slide technologies__slider-card development">
                        <img loading="lazy" width="200" height="200" src="/images/deve-2.webp" alt="xamarin - Rhosigma">
                    </div>
                    <div class="swiper-slide technologies__slider-card development">
                        <img loading="lazy" width="200" height="200" src="/images/deve-3.webp"
                            alt="Android Studio - Rhosigma">
                    </div>
                    <div class="swiper-slide technologies__slider-card development">
                        <img loading="lazy" width="200" height="200" src="/images/pycharm.webp"
                            alt="pycharm - Rhosigma">
                    </div>



                    <!-- ??!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!??????????????????????????!!!!!!!!!!!!!!!!!!! -->

                    <div class="swiper-slide technologies__slider-card operating-systems">
                        <img loading="lazy" width="200" height="200" src="/images/andriod.webp"
                            alt="Android - Rhosigma">
                    </div>
                    <div class="swiper-slide technologies__slider-card operating-systems">
                        <img loading="lazy" width="200" height="200" src="/images/windows_6.webp"
                            alt="windows - Rhosigma">
                    </div>
                    <div class="swiper-slide technologies__slider-card operating-systems">
                        <img loading="lazy" width="200" height="200" src="/images/ios_6.webp" alt="ios - Rhosigma">
                    </div>


                    <!-- ??!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!??????????????????????????!!!!!!!!!!!!!!!!!!! -->

                    <div class="swiper-slide technologies__slider-card database">
                        <img loading="lazy" width="200" height="200" src="/images/database-5.webp"
                            alt="database - Rhosigma">
                    </div>
                    <div class="swiper-slide technologies__slider-card database">
                        <img loading="lazy" width="200" height="200" src="/images/database-2.webp"
                            alt="windows - Rhosigma">
                    </div>
                    <div class="swiper-slide technologies__slider-card database">
                        <img loading="lazy" width="200" height="200" src="/images/database-3.webp"
                            alt="database - Rhosigma">
                    </div>
                    <div class="swiper-slide technologies__slider-card database">
                        <img loading="lazy" width="200" height="200" src="/images/database-4.webp"
                            alt="database - Rhosigma">
                    </div>
                    <div class="swiper-slide technologies__slider-card database">
                        <img loading="lazy" width="200" height="200" src="/images/database.webp"
                            alt="database - Rhosigma">
                    </div>



                    <!-- ??!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!??????????????????????????!!!!!!!!!!!!!!!!!!! -->

                    <div class="swiper-slide technologies__slider-card communication-protocol">
                        <img loading="lazy" width="200" height="200" src="/images/http.webp" alt="HTTP - Rhosigma">
                    </div>
                    <div class="swiper-slide technologies__slider-card communication-protocol">
                        <img loading="lazy" width="200" height="200" src="/images/https_6.webp" alt="HTTPS - Rhosigma">
                    </div>
                    <div class="swiper-slide technologies__slider-card communication-protocol">
                        <img loading="lazy" width="200" height="200" src="/images/mqtt_5.webp" alt="MQTT - Rhosigma">
                    </div>
                    <div class="swiper-slide technologies__slider-card communication-protocol">
                        <img loading="lazy" width="200" height="200" src="/images/modbus_5.webp"
                            alt="modbus - Rhosigma">
                    </div>
                    <div class="swiper-slide technologies__slider-card communication-protocol">
                        <img loading="lazy" width="200" height="200" src="/images/tcp-udp_6.webp"
                            alt="tcp-udp - Rhosigma">
                    </div>
                    <div class="swiper-slide technologies__slider-card communication-protocol">
                        <img loading="lazy" width="200" height="200" src="/images/bluetooth.webp"
                            alt="bluetooth - Rhosigma">
                    </div>
                    <div class="swiper-slide technologies__slider-card communication-protocol">
                        <img loading="lazy" width="200" height="200" src="/images/snmp_6.webp" alt="SNMP - Rhosigma">
                    </div>
                    <div class="swiper-slide technologies__slider-card communication-protocol">
                        <img loading="lazy" width="200" height="200"
                            src="/images/bridging-gap-between-bits-barrels.webp" alt="HART - Rhosigma">
                    </div>
                    <div class="swiper-slide technologies__slider-card communication-protocol">
                        <img loading="lazy" width="200" height="200" src="/images/dlms.webp" alt="Dlms - Rhosigma">
                    </div>




                    <!-- ??!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!??????????????????????????!!!!!!!!!!!!!!!!!!! -->

                    <div class="swiper-slide technologies__slider-card wired-interfaces">
                        <img loading="lazy" width="200" height="200" src="/images/rs-232_6.webp"
                            alt="rs-232 - Rhosigma">
                    </div>
                    <div class="swiper-slide technologies__slider-card wired-interfaces">
                        <img loading="lazy" width="200" height="200" src="/images/ethernet.webp"
                            alt="ethernet - Rhosigma">
                    </div>
                    <div class="swiper-slide technologies__slider-card wired-interfaces">
                        <img loading="lazy" width="200" height="200" src="/images/rs-485_6.webp"
                            alt="rs-485 - Rhosigma">
                    </div>
                    <div class="swiper-slide technologies__slider-card wired-interfaces">
                        <img loading="lazy" width="200" height="200" src="/images/uart_6.webp" alt="uart - Rhosigma">
                    </div>
                    <div class="swiper-slide technologies__slider-card wired-interfaces">
                        <img loading="lazy" width="200" height="200" src="/images/i2c_6.webp" alt="I2C - Rhosigma">
                    </div>
                    <div class="swiper-slide technologies__slider-card wired-interfaces">
                        <img loading="lazy" width="200" height="200" src="/images/spi_6.webp" alt="spi - Rhosigma">
                    </div>
                    <div class="swiper-slide technologies__slider-card wired-interfaces">
                        <span class="p-1 fc-a fw-7">4 - 20 mA</span>
                    </div>
                    <div class="swiper-slide technologies__slider-card wired-interfaces">
                        <img loading="lazy" width="200" height="200" src="/images/can.webp" alt="can - Rhosigma">
                    </div>
                    <div class="swiper-slide technologies__slider-card wired-interfaces">
                        <img loading="lazy" width="200" height="200" src="/images/usb_6.webp" alt="USB - Rhosigma">
                    </div>



                    <!-- ??!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!??????????????????????????!!!!!!!!!!!!!!!!!!! -->

                    <div class="swiper-slide technologies__slider-card wireless-interfaces">
                        <img loading="lazy" width="200" height="200" src="/images/wireless-bluetooth_1.webp"
                            alt="bluetooth - Rhosigma">
                    </div>
                    <div class="swiper-slide technologies__slider-card wireless-interfaces">
                        <img loading="lazy" width="200" height="200" src="/images/wi-fi_6.webp" alt="wifi - Rhosigma">
                    </div>
                    <div class="swiper-slide technologies__slider-card wireless-interfaces">
                        <img loading="lazy" width="200" height="200" src="/images/WIRELESS-1_6.webp"
                            alt="wireless - Rhosigma">
                    </div>
                    <div class="swiper-slide technologies__slider-card wireless-interfaces">
                        <img loading="lazy" width="200" height="200" src="/images/WIRELESS-2_1.webp"
                            alt="wireless - Rhosigma">
                    </div>
                    <div class="swiper-slide technologies__slider-card wireless-interfaces">
                        <span class="p-1 fc-a fw-7">GSM GPRS 4G</span>
                    </div>
                    <div class="swiper-slide technologies__slider-card wireless-interfaces">
                        <img loading="lazy" width="200" height="200" src="/images/lora_5.webp" alt="lora - Rhosigma">
                    </div>
                    <div class="swiper-slide technologies__slider-card wireless-interfaces">
                        <img loading="lazy" width="200" height="200" src="/images/WIRELESS-3_1.webp"
                            alt="wireless - Rhosigma">
                    </div>



                    <!-- ??!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!??????????????????????????!!!!!!!!!!!!!!!!!!! -->
                    <div class="swiper-slide technologies__slider-card display">
                        <span class="p-1 fc-a fw-7">OLED</span>
                    </div>
                    <div class="swiper-slide technologies__slider-card display">
                        <span class="p-1 fc-a fw-7">SEVEN</span>
                    </div>
                    <div class="swiper-slide technologies__slider-card display">
                        <span class="p-1 fc-a fw-7">SEGMENT</span>
                    </div>
                    <div class="swiper-slide technologies__slider-card display">
                        <span class="p-1 fc-a fw-7">LCD</span>
                    </div>
                    <div class="swiper-slide technologies__slider-card display">
                        <span class="p-1 fc-a fw-7">TFT</span>
                    </div>
                    <div class="swiper-slide technologies__slider-card display">
                        <span class="p-1 fc-a fw-7">DOT MATRIX</span>
                    </div>



                    <!-- ??!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!??????????????????????????!!!!!!!!!!!!!!!!!!! -->
                    <div class="swiper-slide technologies__slider-card touch">
                        <span class="p-1 fc-a fw-7">RESIS-TIVE</span>
                    </div>
                    <div class="swiper-slide technologies__slider-card touch">
                        <span class="p-1 fc-a fw-7">CAPA-CITIVE</span>
                    </div>
                    <div class="swiper-slide technologies__slider-card touch">
                        <span class="p-1 fc-a fw-7">INFRARED</span>
                    </div>
                    <div class="swiper-slide technologies__slider-card touch">
                        <span class="p-1 fc-a fw-7">PCAP</span>
                    </div>



                    <!-- ??!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!??????????????????????????!!!!!!!!!!!!!!!!!!! -->
                    <div class="swiper-slide technologies__slider-card memory">
                        <span class="p-1 fc-a fw-7">SD-RAM</span>
                    </div>
                    <div class="swiper-slide technologies__slider-card memory">
                        <span class="p-1 fc-a fw-7">SD-CARD</span>
                    </div>
                    <div class="swiper-slide technologies__slider-card memory">
                        <span class="p-1 fc-a fw-7">NVS-RAM</span>
                    </div>
                    <div class="swiper-slide technologies__slider-card memory">
                        <span class="p-1 fc-a fw-7">EEPROM</span>
                    </div>
                    <div class="swiper-slide technologies__slider-card memory">
                        <span class="p-1 fc-a fw-7">FLASH</span>
                    </div>



                    <!-- ??!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!??????????????????????????!!!!!!!!!!!!!!!!!!! -->
                    <div class="swiper-slide technologies__slider-card processor">
                        <span class="p-1 fc-a fw-7">ARM</span>
                    </div>
                    <div class="swiper-slide technologies__slider-card processor">
                        <span class="p-1 fc-a fw-7">M0 - M7</span>
                    </div>
                    <div class="swiper-slide technologies__slider-card processor">
                        <span class="p-1 fc-a fw-7">ESP32</span>
                    </div>
                    <div class="swiper-slide technologies__slider-card processor">
                        <span class="p-1 fc-a fw-7">DSP/DSC</span>
                    </div>
                    <div class="swiper-slide technologies__slider-card processor">
                        <span class="p-1 fc-a fw-7">16-bit / 8-bit</span>
                    </div>



                    <!-- ??!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!??????????????????????????!!!!!!!!!!!!!!!!!!! -->
                    <div class="swiper-slide technologies__slider-card sensors">
                        <span class="p-1 fc-a fw-7">TEMPERATURE</span>
                    </div>
                    <div class="swiper-slide technologies__slider-card sensors">
                        <span class="p-1 fc-a fw-7">VISION</span>
                    </div>
                    <div class="swiper-slide technologies__slider-card sensors">
                        <span class="p-1 fc-a fw-7">PROXIMITY</span>
                    </div>
                    <div class="swiper-slide technologies__slider-card sensors">
                        <span class="p-1 fc-a fw-7">INFRARED</span>
                    </div>
                    <div class="swiper-slide technologies__slider-card sensors">
                        <span class="p-1 fc-a fw-7">PRESSURE</span>
                    </div>
                    <div class="swiper-slide technologies__slider-card sensors">
                        <span class="p-1 fc-a fw-7">ORIENTATION</span>
                    </div>
                    <div class="swiper-slide technologies__slider-card sensors">
                        <span class="p-1 fc-a fw-7">MOTION</span>
                    </div>
                    <div class="swiper-slide technologies__slider-card sensors">
                        <span class="p-1 fc-a fw-7">LEVEL</span>
                    </div>
                    <div class="swiper-slide technologies__slider-card sensors">
                        <span class="p-1 fc-a fw-7">HUMIDITY</span>
                    </div>
                    <div class="swiper-slide technologies__slider-card sensors">
                        <span class="p-1 fc-a fw-7">FLOW</span>
                    </div>
                    <div class="swiper-slide technologies__slider-card sensors">
                        <span class="p-1 fc-a fw-7">GAS</span>
                    </div>
                    <div class="swiper-slide technologies__slider-card sensors">
                        <span class="p-1 fc-a fw-7">ULTRA-VIOLET</span>
                    </div>
                </div>

            </div>
        </section>
        <!-- ! Technologies we use -->





        <%- include('partials/contact') %>
            <%- include('partials/footer') %>

                <script src="/javascript/swiper.js"></script>


                <!-- !active card -->
                <script >
                    document.addEventListener('DOMContentLoaded', function () {
                        const cards = document.querySelectorAll('.technologies__grid-slide');

                        cards.forEach(card => {
                            card.addEventListener('click', function () {
                                // Remove 'active' class from all cards
                                cards.forEach(c => c.classList.remove('active'));

                                // Add 'active' class to the clicked card
                                this.classList.add('active');
                            });
                        });
                    });

                </script>
                <!-- !active card -->



                <!-- ! Filtering cards -->
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        const filterButtons = document.querySelectorAll('.silder-card .swiper-slide');
                        const itemsToFilter = document.querySelectorAll('.slier-234 .swiper-slide');
                        const overFlow = document.querySelector(".slier-234");

                        function handleFilterButtonClick(button) {
                            const filterClass = button.getAttribute('data-filter');

                            filterButtons.forEach(btn => btn.classList.remove('active'));
                            itemsToFilter.forEach(item => item.classList.remove('active'));

                            button.classList.add('active');

                            itemsToFilter.forEach(item => {
                                item.remove();
                            });

                            itemsToFilter.forEach(item => {
                                if (item.classList.contains(filterClass) || filterClass === 'all') {
                                    overFlow.appendChild(item);
                                    item.classList.add('active');
                                }
                            });

                            swiper2.update();
                        }

                        filterButtons.forEach(button => {
                            button.addEventListener('click', function () {
                                handleFilterButtonClick(button);
                            });
                        });

                        handleFilterButtonClick(filterButtons[0]);
                    });


                </script>
                <!-- ! Filtering cards -->



                <!-- !Changing slier to grid -->
                <script>
                    const list = document.querySelector(".technologies__grid-view").classList;
                    const listTwo = document.querySelector(".swiper-wrapper").classList;
                    var x = window.matchMedia("(max-width: 991px)")

                    function myFunction(x) {
                        if (x.matches) {
                            list.add("swiper-wrapper");
                            list.remove("technologies__grid-view");
                            listTwo.remove("swiper-wrapper");
                            listTwo.add("technologies__slid-view")

                        } else {
                            list.add("technologies__grid-view");
                            list.remove("swiper-wrapper");
                            listTwo.add("swiper-wrapper");
                            listTwo.remove("technologies__slid-view");
                        }
                    }


                    myFunction(x);

                    x.addEventListener("change", function () {
                        location.reload()
                        myFunction(x);
                    });
                </script>
                <!-- !Changing slier to grid -->



                <!-- !Grid Slied -->
                <script>
                    var swiper1 = new Swiper(".mySwiper", {
                        slidesPerView: 1,
                        spaceBetween: 20,
                        breakpoints: {
                            320: {
                                slidesPerView: 1,
                            },
                            480: {
                                slidesPerView: 2,
                            },
                        }
                    });
                </script>
                <!-- !Grid Slied -->



                <!-- ! Slider grid -->
                <script>
                    var swiper2 = new Swiper(".mySwiper2", {
                        slidesPerView: 5,
                        spaceBetween: 20,
                        navigation: {
                            nextEl: '.swiper-button-next',
                            prevEl: '.swiper-button-prev',
                        },
                        breakpoints: {
                            992: {
                                slidesPerView: 3,
                            },
                            1200: {
                                slidesPerView: 4,
                            },
                            1440: {
                                slidesPerView: 5,
                            },
                            1920: {
                                slidesPerView: 5,
                            },

                        },
                    });
                </script>
                <!-- ! Slider grid -->

</body>


</html>