<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Design and Engineering Service Provider in India - Rhosigma</title>
    <meta
      name="description"
      content="Rhosigma provides design and engineering solutions in India—expertise in mechanical, embedded, IoT, and electrical design for unmatched excellence in every project."
    />
    <meta
      name="robots"
      content="max-image-preview:large, max-snippet:-1, max-video-preview:-1 "
    />
    <%- include('partials/preconnect') %>
    <link
      rel="preload"
      as="image"
      href="https://rhosigma.in/images/firmware-get-quote.webp"
    />

    <!-- Open Graph meta tags for social sharing -->
    <meta
      property="og:title"
      content="Design and Engineering Service Provider in India - Rhosigma"
    />
    <meta
      property="og:description"
      content="Rhosigma provides design and engineering solutions in India—expertise in mechanical, embedded, IoT, and electrical design for unmatched excellence in every project."
    />
    <meta
      property="og:url"
      content="https://rhosigma.in/services/design-and-engineering"
    />
    <link
      rel="canonical"
      href="https://rhosigma.in/services/design-and-engineering"
    />

    <!-- Twitter Card meta tags for Twitter sharing -->
    <meta
      name="twitter:title"
      content="Design and Engineering Service Provider in India - Rhosigma"
    />
    <meta
      name="twitter:description"
      content="Rhosigma provides design and engineering solutions in India—expertise in mechanical, embedded, IoT, and electrical design for unmatched excellence in every project."
    />

    <%- include('partials/metas') %>
  </head>

  <body>
    <%- include('partials/navbar') %>

    <!-- !Service Banner -->
    <section
      class="bg-container --bg-img-container firmware-banner m-t-50 m-b-20"
    >
      <h1 class="h1 fc-w fw6 t-upper tc">Design and Engineering Services</h1>
    </section>
    <!-- !Service Banner -->

    <!-- !Firmware Development for Mission-Critical Systems: -->
    <section class="container what-we-do">
      <!-- * Service Breadcrumb -->
      <div class="service-breadcrumb m-t-50">
        <a href="/">Home</a>
        <a href="/services">Services</a>
        <span class="bc-active">Design and Engineering</span>
      </div>
      <!-- * Service Breadcrumb -->
    </section>
    <!-- !Firmware Development for Mission-Critical Systems: -->

    <section class="embedded-firware-dev-mission container m-t-50 m-b-50">
      <div class="embedded-firware-dev-mission__grid">
        <div class="embedded-firware-dev-mission__content">
          <h2 class="h3 fc-a fw-6">Design and Engineering services.</h2>
          <p class="p-2 fw-4 fc-s lh-150">
            At Rhosigma we offer complete engineering and design solutions. Our
            services combine knowledge in electrical design, embedded systems,
            mechanical design, IoT solutions, and rigorous testing to fulfil the
            specific requirements of today's industries and our approach gives
            importance to creativity, accuracy, and client happiness, Thus by
            partnering with us, you can gain access to our custom design
            solutions and a team dedicated to delivering you exceptional value
            and support at every stage of your project.
          </p>
          <p class="p-2 fw-4 fc-s lh-150">
            From machine design and new product development to value analysis
            and value engineering (VAVE) and competitive benchmarking, our
            design and engineering services cover a broad range of specialist
            fields. We rigorously evaluate and optimise designs using
            cutting-edge methods like Computational Fluid Dynamics (CFD), Finite
            Element Analysis (FEA), and Computer-Aided Engineering (CAE) to make
            sure they function effectively and dependably in real-world
            scenarios. Join us, to gain access to a group of people committed to
            providing you outstanding value and assistance throughout the
            projects.
          </p>
        </div>
        <img
          src="/images/new-img/design-engineering-1.webp"
          width="584px"
          height="526px"
          loading="eager"
          alt="Embedded Firware - Rhosigma"
        />
      </div>
    </section>

    <section class="rhosigma-design-dev-services p-t-50 p-b-50">
      <div class="rhosigma-design-dev-services__content container">
        <h2 class="h2 fc-a fw-6">
          Rhosigma's Engineering Design and Development Services
        </h2>
      </div>
      <div class="rhosigma-design-dev-services__card1 space p-t-50">
        <img
          loading="lazy"
          src="/images/new-img/service-1.webp"
          class="rhosigma-design-dev-services__card1-img"
          width="584px"
          height="526px"
          alt="embedded firware - Rhosigma"
        />
        <div class="rhosigma-design-dev-services__card1-content">
          <h2 class="h4 fw-6 fc-a">Firmware Development</h2>
          <p class="p-2">
            Rhosigma’s Firmware development service is dedicated to bringing
            your hardware to life with efficient and reliable software. It
            offers flexibility, functionality, and security and we aim to
            provide you with firmware that enhances existing systems or builds
            new technology.
          </p>
          <div class="rhosigma-design-dev-services__card1-content-flex">
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="System Architecture - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">System Architecture</p>
            </div>
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="Design & Development - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">Design & Development</p>
            </div>
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="RTOS/ OS/ Bare Metal Applications - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">RTOS/ OS/ Bare Metal Applications</p>
            </div>
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="Porting & Optimization - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">Porting & Optimization</p>
            </div>
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="BSP/Device Drivers - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">BSP/Device Drivers</p>
            </div>
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="System Integration & Security - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">System Integration & Security</p>
            </div>
          </div>
          <a href="/services/firmware-development" class="rhosigma-btn"
            >Learn More</a
          >
        </div>
      </div>
      <div class="rhosigma-design-dev-services__card1 p-t-50">
        <div class="rhosigma-design-dev-services__card2-content">
          <h2 class="h4 fw-6 fc-a">Hardware Development</h2>
          <p class="p-2">
            With our Hardware design and development services, we focus on
            creating high-quality, reliable, and efficient hardware solutions as
            per your needs. By Designing and engineering the physical parts of
            hardware in a way which provides functionality and durability.
          </p>
          <div class="rhosigma-design-dev-services__card1-content-flex">
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="System Architecture Design - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">System Architecture Design</p>
            </div>
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="Verification & Validation - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">Verification & Validation</p>
            </div>
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="PCB & Mechanical Design - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">PCB & Mechanical Design</p>
            </div>
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="Prototyping Support - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">Electronics prototyping service</p>
            </div>
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="Analog Circuit Design - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">Analog Circuit Design</p>
            </div>
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="High Speed Digital Circuit Design - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">High Speed Digital Circuit Design</p>
            </div>
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="Sensor Interfaces - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">Sensor Interfaces</p>
            </div>
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="Lower Power Circuit Design - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">Lower Power Circuit Design</p>
            </div>
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="Signal Integrity - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">Signal Integrity</p>
            </div>
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="Power Integrity isolation - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">Power Integrity isolation</p>
            </div>
          </div>
          <a href="/services/hardware-development" class="rhosigma-btn"
            >Learn More</a
          >
        </div>
        <img
          loading="lazy"
          src="/images/new-img/design-engineering-card1.webp"
          class="rhosigma-design-dev-services__card1-img"
          width="584px"
          height="526px"
          alt="embedded firware - Rhosigma"
        />
      </div>
      <div class="rhosigma-design-dev-services__card1 p-t-50">
        <img
          loading="lazy"
          src="/images/new-img/design-engineering-card2.webp"
          class="rhosigma-design-dev-services__card1-img"
          width="584px"
          height="526px"
          alt="PCB Layout Design Service - Rhosigma"
        />
        <div class="rhosigma-design-dev-services__card1-content">
          <h2 class="h4 fw-6 fc-a">PCB Layout Design Service</h2>
          <p class="p-2">
            At Rhosigma we provide high-quality circuit boards that serve as the
            foundation of your products. We use advanced design tools and
            techniques to create PCB layouts that meet your needs. Our PCB
            layout maximizes space, reduces electrical noise, and improves
            signal integrity, Which ultimately enhances the performance and
            longevity of your devices.
          </p>
          <div class="rhosigma-design-dev-services__card1-content-flex">
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="Multilayer PCB Layout Design - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">
                Multilayer printed circuit board design services
              </p>
            </div>
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="DFM, DFT, DFA Analysis - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">DFM, DFT, DFA Analysis</p>
            </div>
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="Thermal Analysis - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">Thermal Analysis</p>
            </div>
          </div>
          <a href="/services/design-and-engineering" class="rhosigma-btn"
            >Learn More</a
          >
        </div>
      </div>
      <div class="rhosigma-design-dev-services__card1 p-t-50">
        <div class="rhosigma-design-dev-services__card2-content">
          <h2 class="h4 fw-6 fc-a">Regulatory Compliance & Certification</h2>
          <p class="p-2">
            Our regulatory services are designed to make sure that your products
            satisfy legal and industry standards, our team assist you with
            complicated regulatory environments from managing CE and UL
            certifications to FCC and IEC compliance, as well as EMI and EMC
            testing. This helps you to avoid any financial or legal setbacks and
            opens doors to an international market.
          </p>
          <div class="rhosigma-design-dev-services__card1-content-flex">
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="FCC & IEC Compliance - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">FCC & IEC Compliance</p>
            </div>
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="CE & UL Certfication - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">CE & UL Certfication</p>
            </div>
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="EMI & EMC Testing - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">EMI & EMC Testing</p>
            </div>
          </div>
          <!-- <a href="#" class="rhosigma-btn">Learn More</a> -->
        </div>
        <img
          loading="lazy"
          src="/images/new-img/design-engineering-card3.webp"
          class="rhosigma-design-dev-services__card1-img"
          width="584px"
          height="526px"
          alt="embedded firware - Rhosigma"
        />
      </div>
      <div class="rhosigma-design-dev-services__card1 p-t-50">
        <img
          loading="lazy"
          src="/images/new-img/design-engineering-card4.webp"
          class="rhosigma-design-dev-services__card1-img"
          width="584px"
          height="526px"
          alt="Connectivity Solutions - Rhosigma"
        />
        <div class="rhosigma-design-dev-services__card1-content">
          <h2 class="h4 fw-6 fc-a">Connectivity Solutions</h2>
          <p class="p-2">
            At Rhosigma our Mechanical Design Service is focused on creating and
            developing the structural and functional aspects of a product by
            covering areas such as system architecture, industrial design, and
            detailed engineering for parts like sheet metal and plastics. Our
            objective is to design components that meet your vision and
            functional needs
          </p>
          <div class="rhosigma-design-dev-services__card1-content-flex">
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="Stack Integration & Porting - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">Stack Integration & Porting</p>
            </div>
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="Standards/Open Source Support - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">Standards/Open Source Support</p>
            </div>
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="Gateway Implementation/ integration - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">Gateway Implementation/ integration</p>
            </div>
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="system check - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">
                Network Enablement (WiFi, Bluetooth, BLE Mesh, ZigBee, DMX,
                etc.)
              </p>
            </div>
          </div>
          <!-- <a href="#" class="rhosigma-btn">Learn More</a> -->
        </div>
      </div>
      <div class="rhosigma-design-dev-services__card1 p-t-50">
        <div class="rhosigma-design-dev-services__card2-content">
          <h2 class="h4 fw-6 fc-a">Mechanical Design Service</h2>
          <p class="p-2">
            Unlock innovation in mechanical design. From industrial design to
            FEA analysis, we craft solutions for sheet metal, plastics, and
            more. Elevate your product with our expertise in packaging
            solutions.
          </p>
          <div class="rhosigma-design-dev-services__card1-content-flex">
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="Industrial Design - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">Industrial Design</p>
            </div>
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="FEA, Thermal, Shock, Vibration, Ingress - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">FEA, Thermal, Shock, Vibration, Ingress</p>
            </div>
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="Packaging - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">Packaging</p>
            </div>
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="Sheet Metal, Plastics Design - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">Sheet Metal, Plastics Design</p>
            </div>
          </div>
          <!-- <a href="#" class="rhosigma-btn">Learn More</a> -->
        </div>
        <img
          loading="lazy"
          src="/images/new-img/design-engineering-card5.webp"
          class="rhosigma-design-dev-services__card1-img"
          width="584px"
          height="526px"
          alt="embedded firware - Rhosigma"
        />
      </div>
      <div class="rhosigma-design-dev-services__card1 p-t-50">
        <img
          loading="lazy"
          src="/images/new-img/design-engineering-card6.webp"
          class="rhosigma-design-dev-services__card1-img"
          width="584px"
          height="526px"
          alt="Sustenance Engineering - Rhosigma"
        />
        <div class="rhosigma-design-dev-services__card1-content">
          <h2 class="h4 fw-6 fc-a">Sustenance Engineering</h2>
          <p class="p-2">
            With our Sustenance Engineering service, we improve the
            functionality and lifespan of your current products. It involves
            minor design changes, component replacements, compliance updates,
            and technical support, ensuring that your products continue to
            perform reliably over time.
          </p>
          <div class="rhosigma-design-dev-services__card1-content-flex">
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="Obsolescence Management - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">Obsolescence Management</p>
            </div>
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="RoHS Compliance - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">RoHS Compliance</p>
            </div>
          </div>
          <!-- <a href="#" class="rhosigma-btn">Learn More</a> -->
        </div>
      </div>
      <div class="rhosigma-design-dev-services__card1 p-t-50">
        <div class="rhosigma-design-dev-services__card2-content">
          <h2 class="h4 fw-6 fc-a">System Engineering Solutions</h2>
          <p class="p-2">
            Our System Engineering Solutions services benefit you from a
            holistic approach by reducing complexity, saving time, and
            minimizing errors. It involves planning, designing, integrating and
            managing the entire lifecycle of products. And we ensure that every
            component functions dependably within the overall design.
          </p>
          <div class="rhosigma-design-dev-services__card1-content-flex">
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="Requirement Scoping & Traceability - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">Requirement Scoping & Traceability</p>
            </div>
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="FMEA, Risk Management, Proto Build - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">FMEA, Risk Management, Proto Build</p>
            </div>
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="DFX, Integration Testing, Pre-Compliance - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">DFX, Integration Testing, Pre-Compliance</p>
            </div>
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="Test Jigs & Fixtures, V&V Testing - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">Test Jigs & Fixtures, V&V Testing</p>
            </div>
          </div>
          <!-- <a href="#" class="rhosigma-btn">Learn More</a> -->
        </div>
        <img
          loading="lazy"
          src="/images/new-img/design-engineering-card7.webp"
          class="rhosigma-design-dev-services__card1-img"
          width="584px"
          height="526px"
          alt="embedded firware - Rhosigma"
        />
      </div>
      <div class="rhosigma-design-dev-services__card1 p-t-50">
        <img
          loading="lazy"
          src="/images/new-img/service-1.webp"
          class="rhosigma-design-dev-services__card1-img"
          width="584px"
          height="526px"
          alt="embedded firware - Rhosigma"
        />
        <div class="rhosigma-design-dev-services__card1-content">
          <h2 class="h4 fw-6 fc-a">Application Development</h2>
          <p class="p-2">
            Application development transforms your ideas into reality. It
            focuses on designing, building, testing, and deploying applications
            that help you manage processes, engage with users, or enhance
            productivity. It assists in, mobile, or desktop application
            development and delivering efficient, reliable, and innovative
            solutions.
          </p>
          <div class="rhosigma-design-dev-services__card1-content-flex">
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="Mobile App Development - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">Mobile App Development</p>
            </div>
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="Web App Development - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">Web App Development</p>
            </div>
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="Web Design & Development - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">Web Design & Development</p>
            </div>
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="Custom Engineering Software - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">Custom Engineering Software</p>
            </div>
          </div>
          <!-- <a href="#" class="rhosigma-btn">Learn More</a> -->
        </div>
      </div>
      <div class="rhosigma-design-dev-services__card1 p-t-50">
        <div class="rhosigma-design-dev-services__card2-content">
          <h2 class="h4 fw-6 fc-a">Engineering Design & Detailing</h2>
          <p class="p-2">
            The goal of our Engineering design and detailing is to turn concepts
            into accurate, scalable designs. It involves creating detailed
            technical drawings and specifications that guide the production of
            parts, assemblies, and systems. We work closely with you and make
            sure that every component is precisely designed and complies with
            industry norms.
          </p>
          <div class="rhosigma-design-dev-services__card1-content-flex">
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="General Arrangements & Layout preparation - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">General Arrangements & Layout preparation</p>
            </div>
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="BOM/Part list - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">BOM/Part list</p>
            </div>
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="Intelligent part/sub-assembly/assembly/drawing creation - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">
                Intelligent part/sub-assembly/assembly/drawing creation
              </p>
            </div>
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="Hydraulic, Pneumatic Circuits & Piping Drawings - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">
                Hydraulic, Pneumatic Circuits & Piping Drawings
              </p>
            </div>
            <div class="rhosigma-design-dev-services__card1-content-flexes">
              <img
                loading="lazy"
                src="/images/new-img/blue-tick.webp"
                alt="Machining, Fabrication, Weldment drawings for Manufacturing - Rhosigma"
                height="25px"
                width="27px"
              />
              <p class="p-2 fw-4">
                Machining, Fabrication, Weldment drawings for Manufacturing
              </p>
            </div>
          </div>
          <!-- <a href="#" class="rhosigma-btn">Learn More</a> -->
        </div>
        <img
          loading="lazy"
          src="/images/new-img/design-engineering-card9.webp"
          class="rhosigma-design-dev-services__card1-img"
          width="584px"
          height="526px"
          alt="embedded firware - Rhosigma"
        />
      </div>
    </section>

    <!-- !Why Choose Our Embedded Firmware Development Expertise? -->
    <section class="bg-container software-services p-t-50 p-b-50 m-t-50">
      <div class="container software-services__info">
        <h2 class="h3 fc-a fw-6">
          Why Choose Rhosigma’s Design and Engineering Services?
        </h2>
        <p>
          Choose Rhosigma for unparalleled design and engineering solutions
          tailored to your needs. With extensive expertise spanning diverse
          industries, we offer innovative, reliable, and cost-effective
          services. Our customer-centric approach ensures open communication and
          collaboration, guaranteeing satisfaction at every step. From precision
          engineering to timely delivery, we prioritize excellence to drive your
          success. Trust Rhosigma for unmatched quality and reliability in every
          project.
        </p>
      </div>
    </section>

    <!-- !contact -->
    <section class="container get-quote m-t-50 m-b-50">
      <h2 class="h1 fw-7 t-cap fc-a">
        Don't settle for anything less than the best
      </h2>
      <p class="tl p-2 fw-5 fc-s lh-150">
        Choose a firmware development partner with the experience, expertise,
        and unwavering commitment to quality that your mission-critical system
        deserves, Contact us today for a free consultation and let's unlock the
        full potential of your product together.
      </p>
      <img
        loading="lazy"
        class="service-get-quote-img"
        width="600"
        height="160"
        src="/images/firmware-get-quote.webp"
        alt="Get Quote"
      />

      <%- include('partials/call-to-action'); -%>
    </section>
    <!-- !contact -->

    <%- include('partials/footer') %>
  </body>
</html>
