<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Rhosigma: Igniting Innovation in Electronic Products Tech!</title>
  <meta name="description"
    content="Rhosigma powers success from IoT to Defense. Explore tech solutions and expertise in electronic product & technology design, development, and manufacturing." />
  <meta name="robots" content="max-image-preview:large, max-snippet:-1, max-video-preview:-1 " />
  <%- include('partials/preconnect') %>
    <link rel="preload" as="image" href="https://rhosigma.in/images/hero-before.webp" />

    <!-- Open Graph meta tags for social sharing -->
    <meta property="og:title" content="Rhosigma: Igniting Innovation in Electronic Products Tech!" />
    <meta property="og:description"
      content="Rhosigma powers success from IoT to Defense. Explore tech solutions and expertise in electronic product & technology design, development, and manufacturing." />
    <meta property="og:url" content="https://rhosigma.in" />
    <link rel="canonical" href="https://rhosigma.in" />

    <!-- Twitter Card meta tags for Twitter sharing -->
    <meta name="twitter:title" content="Rhosigma: Igniting Innovation in Electronic Products Tech!" />
    <meta name="twitter:description"
      content="Rhosigma powers success from IoT to Defense. Explore tech solutions and expertise in electronic product & technology design, development, and manufacturing." />
    <link rel="stylesheet" href="/css/swiper.css" />
    <%- include('partials/metas') %>
</head>

<body>
  <%- include('partials/navbar') %>

    <!-- <div id="popupContainer">
            <div class="popupContent">
                <span class="closeButton" onclick="closePopup()">&times;</span>
                <img src="/images/rhosigma-website-po-up.webp" id="popupImage" alt="Rhosigma Pune EXPO">
            </div>
        </div> -->

    <!-- ! Hero Slider Section -->
    <section class="hero-slider">
      <div id="hero-slider__left-side" class="side">
        <span class="hero-slider__slider-btn"><svg width="29" height="17" viewBox="0 0 29 17" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M19.75 1L27.25 8.5L19.75 16M8.5 16L1 8.5L8.5 1" stroke="white" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </span>
        <div class="hero-slider__container">
          <div class="hero-slider__content-left tc">
            <h1 class="h3 fc-w fw-6">Unleash Innovation with Rhosigma</h1>
            <p class="h3 p-2 fc-w fw-5">
              Transforming Ideas into Reality through Cutting-edge Electronic
              Product Technology Development and Design Engineering.
            </p>
            <a href="/services">Discover Services</a>
          </div>
          <img width="300" height="300" loading="eager" src="/images/hero-before.webp"
            alt="Innovation with Rhosigma - Rhosigma" />
          <div class="hero-slider__content-right tc">
            <span class="fc-w fw-6 p-1">Innovative Excellence</span>
            <span class="fc-w fw-6 p-1">Uncompromising Quality</span>
            <span class="fc-w fw-6 p-1">Customer-Focused Dedication</span>
          </div>
        </div>
      </div>
      <div id="hero-slider__right-side" class="side">
        <div class="hero-slider__container">
          <div class="hero-slider__content-left tc">
            <h2 class="h3 fc-a fw-6">Unleash Innovation with Rhosigma</h2>
            <p class="h3 p-2 fc-a fw-5">
              Transforming Ideas into Reality through Cutting-edge Electronic
              Product Technology Development and Design Engineering.
            </p>
            <a href="/services">Discover Services</a>
          </div>
          <img width="300" height="300" loading="eager" src="/images/hero-after.webp"
            alt="Innovation with Rhosigma - Rhosigma" />
          <div class="hero-slider__content-right tc">
            <span class="fc-a fw-6 p-1">Innovative Excellence</span>
            <span class="fc-a fw-6 p-1">Uncompromising Quality</span>
            <span class="fc-a fw-6 p-1">Customer-Focused Dedication</span>
          </div>
        </div>
      </div>
    </section>

    <!-- ! Hero Slider Section -->

    <!-- !Design Partners -->
    <!-- <section class="bg-container m-t-50 m-b-50 companies p-b-50">
            <div class="container  p-t-50 m-b-50 companies__logo">
                <img width="100" height="70" loading="lazy" src="/images/company-1.webp" alt="analog devices">
                <img width="100" height="70" loading="lazy" src="/images/company-2.webp" alt="arduino">
                <img width="100" height="70" loading="lazy" src="/images/company-3.webp" alt="toradex">
                <img width="100" height="70" loading="lazy" src="/images/company-4.webp" alt="NXP Semiconductors">
                <img width="100" height="70" loading="lazy" src="/images/company-5.webp" alt="texas instruments">
            </div>
            <a href="/design-partners" class="rhosigma-btn container ">See All</a>
        </section> -->
    <!-- !Design Partners -->

    <!-- !Who we Are -->
    <section class="who-we-are p-t-50 p-b-20">
      <div class="container who-we-are__main-content">
        <h2 class="h2">who we are</h2>
        <div class="who-we-are__textual-content">
          <p class="p-2 fw-5 fc-s lh-150">
            Where innovation meets excellence in the world of electronic
            technology. Established with a passion for advancing the boundaries
            of what's possible.
          </p>
          <p class="p-2 fw-5 fc-s lh-150">
            We are a dynamic company specializing in Electronic Product
            Technology Development, Manufacturing, Aftersales Services, Supply
            Chain Management, Design Engineering, Internet of Things (IoT),
            Electronic Manufacturing Services (EMS), Defense, Telecommunication,
            and Energy.
          </p>
          <a href="/about-us" class="rhosigma-btn">Learn More</a>
        </div>
        <div class="who-we-are__visual-content">
          <img width="300" height="200" loading="lazy" src="/images/firmware-development.webp"
            alt="who we are - Rhosigma" />
          <img width="300" height="200" loading="lazy" src="/images/who-we-are-img-2_6.webp"
            alt="who we are - Rhosigma" />
          <video width="300" height="200" autoplay muted playsinline loop>
            <source src="/images/drone.mp4" />
          </video>
          <img width="300" height="200" loading="lazy" src="/images/who-we-are-img-3_6.webp"
            alt="who we are - Rhosigma" />
        </div>
      </div>
    </section>
    <!-- !Who we Are -->

    <!-- !What We Do -->
    <section class="bg-container what-we-do m-t-50 m-b-50 p-t-50 p-b-50">
      <div class="container what-we-do__main-content">
        <h2 class="h2 m-b-20">What We DO</h2>
        <p class="p-2 fc-s fw-5 lh-150">
          Rhosigma is your go-to partner for electronic innovation. We're not
          just a service provider; we're your dedicated ally, ensuring your
          electronic aspirations become a reality with precision and innovation.
        </p>

        <div class="what-we-do__cards-container m-t-50 m-b-50">
          <div class="what-we-do__card">
            <img width="280" height="200" loading="lazy" src="/images/firmware-development_.webp"
              alt="Firmware Development - Rhosigma" />
            <h3 class="h5 fw-6 fc-a">Firmware Development</h3>
            <p class="p-2 fc-s fw-4">
              Elevate your devices with bespoke firmware solutions tailored to
              optimize performance and functionality.
            </p>
            <a href="/services/firmware-development" class="rhosigma-btn --animated-btn">explore
              <img width="23" height="23" loading="lazy" src="/images/arrow.svg" alt="Learn More- Rhosigma" /></a>
          </div>

          <div class="what-we-do__card">
            <img width="280" height="200" loading="lazy" src="/images/ai-ml.webp" alt="Product Development- Rhosigma" />
            <h3 class="h5 fw-6 fc-a">AI / ML</h3>
            <p class="p-2 fc-s fw-4">
              From concept to market, we bring your vision to life with
              comprehensive and efficient product development services.
            </p>
            <a href="/services/ai-ml" class="rhosigma-btn --animated-btn">explore
              <img width="23" height="23" loading="lazy" src="/images/arrow.svg" alt="Learn More - Rhosigma" /></a>
          </div>

          <div class="what-we-do__card">
            <img width="280" height="200" loading="lazy" src="/images/reverse-engineering_6.webp"
              alt="Reverse Engineering - Rhosigma" />
            <h3 class="h5 fw-6 fc-a">Reverse Engineering</h3>
            <p class="p-2 fc-s fw-4">
              Unlock the potential of existing technology with our expertise in
              reverse engineering, revitalizing and enhancing your products.
            </p>
            <a href="/services/reverse-engineering" class="rhosigma-btn --animated-btn">explore
              <img width="23" height="23" loading="lazy" src="/images/arrow.svg" alt="Learn More - Rhosigma" /></a>
          </div>

          <div class="what-we-do__card">
            <img width="280" height="200" loading="lazy" src="/images/hardware-development.webp"
              alt="Hardware Development - Rhosigma" />
            <h3 class="h5 fw-6 fc-a">Hardware Development</h3>
            <p class="p-2 fc-s fw-4">
              Unleash innovation through our meticulous hardware development,
              crafting the backbone of cutting-edge electronic solutions.
            </p>
            <a href="/services/hardware-development" class="rhosigma-btn --animated-btn">explore
              <img width="23" height="23" loading="lazy" src="/images/arrow.svg" alt="Learn More - Rhosigma" /></a>
          </div>
          <div class="what-we-do__card">
            <img width="280" height="200" loading="lazy"
              src="/images/revolutionizing-telecommunications-infrastructure_6.webp"
              alt="Hardware Development - Rhosigma" />
            <h3 class="h5 fw-6 fc-a">HART</h3>
            <p class="p-2 fc-s fw-4">
              Unleash innovation through our meticulous hardware development,
              crafting the backbone of cutting-edge electronic solutions.
            </p>
            <a href="/services/hart" class="rhosigma-btn --animated-btn">explore
              <img width="23" height="23" loading="lazy" src="/images/arrow.svg" alt="Learn More  - Rhosigma" /></a>
          </div>
        </div>
        <a href="/services" class="rhosigma-btn">All Services</a>
      </div>
    </section>
    <!-- !What We Do -->

    <!-- ! Success Stories -->
    <% if (caseStudies.length> 0) { %>
      <section class="container success-stories p-t-75 p-b-75">
        <h2 class="h2 m-b-20">Success stories</h2>
        <% caseStudies.forEach((c, index)=> { %>
          <a href="/case-studies/<%= c.slug %>">
            <div class="<%= index % 2 === 0 ? 'success-stories__card-odd' : 'success-stories__card-even' %>">
              <% if (index % 2 !==0) { %>
                <div class="success-stories__img">
                  <img width="750" height="400" loading="lazy" src="<%= c.image %>" alt="<%= c.title %> - Rhosigma" />
                </div>
                <% } %>

                  <div class="success-stories__textual-content">
                    <h3 class="h3 fc-w fw-6">
                      <%= c.title %>
                    </h3>
                    <p class="p-2 fc-w fw-4">
                      <%= c.description %>
                    </p>
                  </div>
                  <% if (index % 2===0) { %>
                    <div class="success-stories__img">
                      <img width="750" height="400" loading="lazy" src="<%= c.image %>"
                        alt="<%= c.title %> - Rhosigma" />
                    </div>
                    <% } %>
            </div>
          </a>
          <% }); %>
      </section>
      <% }; %>
        <!-- ! Success Stories -->

        <!-- ! Technologies we use -->
        <section class="bg-container p-t-50 p-b-50 technologies">
          <h2 class="h2 container m-b-50">tECHNOLOGIES we use</h2>
          <div class="swiper mySwiper container">
            <div class="technologies__grid-view silder-card">
              <div class="swiper-slide technologies__grid-slide" data-filter="database">
                database
              </div>
              <div class="swiper-slide technologies__grid-slide" data-filter="printed-circuit-board">
                printed circuit board
              </div>
              <div class="swiper-slide technologies__grid-slide" data-filter="graphical-user-interface">
                graphical user interface
              </div>
              <div class="swiper-slide technologies__grid-slide" data-filter="language">
                language
              </div>
              <div class="swiper-slide technologies__grid-slide" data-filter="platform">
                platform
              </div>
              <div class="swiper-slide technologies__grid-slide" data-filter="development">
                development
              </div>
              <div class="swiper-slide technologies__grid-slide" data-filter="operating-systems">
                operating systems
              </div>
              <div class="swiper-slide technologies__grid-slide" data-filter="communication-protocol">
                communication protocol
              </div>
              <div class="swiper-slide technologies__grid-slide" data-filter="wired-interfaces">
                wired interfaces
              </div>
              <div class="swiper-slide technologies__grid-slide" data-filter="wireless-interfaces">
                wireless interfaces
              </div>
              <div class="swiper-slide technologies__grid-slide" data-filter="display">
                display
              </div>
              <div class="swiper-slide technologies__grid-slide" data-filter="touch">
                touch
              </div>
              <div class="swiper-slide technologies__grid-slide" data-filter="memory">
                memory
              </div>
              <div class="swiper-slide technologies__grid-slide" data-filter="processor">
                processor
              </div>
              <div class="swiper-slide technologies__grid-slide" data-filter="sensors">
                sensors
              </div>
            </div>
          </div>

          <div class="swiper mySwiper2 container m-t-20">
            <div class="navigation">
              <div class="swiper-button-prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 16" fill="none">
                  <path d="M8.5 1L1.5 8L8.5 15" stroke="url(#paint0_linear_42_330)" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
                  <defs>
                    <linearGradient id="paint0_linear_42_330" x1="8.5" y1="1" x2="-0.876683" y2="2.83138"
                      gradientUnits="userSpaceOnUse">
                      <stop stop-color="#0D9DE0" />
                      <stop offset="1" stop-color="#2E5BAB" />
                    </linearGradient>
                  </defs>
                </svg>
              </div>
              <div class="swiper-button-next">
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 16" fill="none">
                  <path d="M1.5 1L8.5 8L1.5 15" stroke="url(#paint0_linear_42_332)" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
                  <defs>
                    <linearGradient id="paint0_linear_42_332" x1="1.5" y1="1" x2="10.8767" y2="2.83138"
                      gradientUnits="userSpaceOnUse">
                      <stop stop-color="#0D9DE0" />
                      <stop offset="1" stop-color="#2E5BAB" />
                    </linearGradient>
                  </defs>
                </svg>
              </div>
            </div>

            <div class="swiper-wrapper slier-234">
              <div class="swiper-slide technologies__slider-card printed-circuit-board">
                <span class="p-1 fc-a fw-6">MULTI LAYER</span>
              </div>
              <div class="swiper-slide technologies__slider-card printed-circuit-board">
                <span class="p-1 fc-a fw-6"> RIGID-FLEX-METAL</span>
              </div>
              <div class="swiper-slide technologies__slider-card printed-circuit-board">
                <span class="p-1 fc-a fw-6">THT-SMD-BGA</span>
              </div>

              <!-- ??!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!??????????????????????????!!!!!!!!!!!!!!!!!!! -->

              <div class="swiper-slide technologies__slider-card graphical-user-interface">
                <img width="200" height="200" loading="lazy" src="/images/html.webp" alt="HTML - Rhosigma" />
              </div>

              <div class="swiper-slide technologies__slider-card graphical-user-interface">
                <img width="200" height="200" loading="lazy" src="/images/js_6.webp" alt="JAVASCRIPT - Rhosigma" />
              </div>

              <div class="swiper-slide technologies__slider-card graphical-user-interface">
                <img width="200" height="200" loading="lazy" src="/images/css.webp" alt="CSS - Rhosigma" />
              </div>

              <div class="swiper-slide technologies__slider-card graphical-user-interface">
                <img width="200" height="200" loading="lazy" src="/images/logo1_5.webp" alt="logo - Rhosigma" />
              </div>

              <!-- ??!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!??????????????????????????!!!!!!!!!!!!!!!!!!! -->

              <div class="swiper-slide technologies__slider-card platform">
                <img width="200" height="200" loading="lazy" src="/images/Confluence.webp"
                  alt="Confluence - Rhosigma" />
              </div>

              <div class="swiper-slide technologies__slider-card platform">
                <img width="200" height="200" loading="lazy" src="/images/GIT.webp" alt="GIT - Rhosigma" />
              </div>

              <div class="swiper-slide technologies__slider-card platform">
                <img width="200" height="200" loading="lazy" src="/images/JIRA.webp" alt="JIRA - Rhosigma" />
              </div>

              <div class="swiper-slide technologies__slider-card platform">
                <img width="200" height="200" loading="lazy" src="/images/kicad_logo_small.webp"
                  alt="kicad - Rhosigma" />
              </div>
              <div class="swiper-slide technologies__slider-card platform">
                <img width="200" height="200" loading="lazy" src="/images/PlatformIO.webp"
                  alt="PlatformIO - Rhosigma" />
              </div>

              <!-- ??!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!??????????????????????????!!!!!!!!!!!!!!!!!!! -->

              <div class="swiper-slide technologies__slider-card language">
                <img width="200" height="200" loading="lazy" src="/images/c.webp" alt="C - Rhosigma" />
              </div>
              <div class="swiper-slide technologies__slider-card language">
                <img width="200" height="200" loading="lazy" src="/images/cpp.webp" alt="C++ - Rhosigma" />
              </div>
              <div class="swiper-slide technologies__slider-card language">
                <img width="200" height="200" loading="lazy" src="/images/java.webp" alt="Java - Rhosigma" />
              </div>
              <div class="swiper-slide technologies__slider-card language">
                <img width="200" height="200" loading="lazy" src="/images/python_5.webp" alt="Python - Rhosigma" />
              </div>

              <!-- ??!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!??????????????????????????!!!!!!!!!!!!!!!!!!! -->

              <div class="swiper-slide technologies__slider-card development">
                <img width="200" height="200" loading="lazy" src="/images/deve-4.webp" alt="unity - Rhosigma" />
              </div>
              <div class="swiper-slide technologies__slider-card development">
                <img width="200" height="200" loading="lazy" src="/images/deve-1.webp" alt="logo - Rhosigma" />
              </div>
              <div class="swiper-slide technologies__slider-card development">
                <img width="200" height="200" loading="lazy" src="/images/deve-2.webp" alt="xamarin - Rhosigma" />
              </div>
              <div class="swiper-slide technologies__slider-card development">
                <img width="200" height="200" loading="lazy" src="/images/deve-3.webp"
                  alt="Android Studio - Rhosigma" />
              </div>
              <div class="swiper-slide technologies__slider-card development">
                <img width="200" height="200" loading="lazy" src="/images/pycharm.webp" alt="pycharm - Rhosigma" />
              </div>

              <!-- ??!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!??????????????????????????!!!!!!!!!!!!!!!!!!! -->

              <div class="swiper-slide technologies__slider-card operating-systems">
                <img width="200" height="200" loading="lazy" src="/images/andriod.webp" alt="Android - Rhosigma" />
              </div>
              <div class="swiper-slide technologies__slider-card operating-systems">
                <img width="200" height="200" loading="lazy" src="/images/windows_6.webp" alt="windows - Rhosigma" />
              </div>
              <div class="swiper-slide technologies__slider-card operating-systems">
                <img width="200" height="200" loading="lazy" src="/images/ios_6.webp" alt="ios - Rhosigma" />
              </div>

              <!-- ??!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!??????????????????????????!!!!!!!!!!!!!!!!!!! -->

              <div class="swiper-slide technologies__slider-card database">
                <img width="200" height="200" loading="lazy" src="/images/database-5.webp" alt="database - Rhosigma" />
              </div>
              <div class="swiper-slide technologies__slider-card database">
                <img width="200" height="200" loading="lazy" src="/images/database-2.webp" alt="windows - Rhosigma" />
              </div>
              <div class="swiper-slide technologies__slider-card database">
                <img width="200" height="200" loading="lazy" src="/images/database-3.webp" alt="database - Rhosigma" />
              </div>
              <div class="swiper-slide technologies__slider-card database">
                <img width="200" height="200" loading="lazy" src="/images/database-4.webp" alt="database - Rhosigma" />
              </div>
              <div class="swiper-slide technologies__slider-card database">
                <img width="200" height="200" loading="lazy" src="/images/database.webp" alt="database - Rhosigma" />
              </div>

              <!-- ??!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!??????????????????????????!!!!!!!!!!!!!!!!!!! -->

              <div class="swiper-slide technologies__slider-card communication-protocol">
                <img width="200" height="200" loading="lazy" src="/images/http.webp" alt="HTTP - Rhosigma" />
              </div>
              <div class="swiper-slide technologies__slider-card communication-protocol">
                <img width="200" height="200" loading="lazy" src="/images/https_6.webp" alt="HTTPS - Rhosigma" />
              </div>
              <div class="swiper-slide technologies__slider-card communication-protocol">
                <img width="200" height="200" loading="lazy" src="/images/mqtt_5.webp" alt="MQTT - Rhosigma" />
              </div>
              <div class="swiper-slide technologies__slider-card communication-protocol">
                <img width="200" height="200" loading="lazy" src="/images/modbus_5.webp" alt="modbus - Rhosigma" />
              </div>
              <div class="swiper-slide technologies__slider-card communication-protocol">
                <img width="200" height="200" loading="lazy" src="/images/tcp-udp_6.webp" alt="tcp-udp - Rhosigma" />
              </div>
              <div class="swiper-slide technologies__slider-card communication-protocol">
                <img width="200" height="200" loading="lazy" src="/images/bluetooth.webp" alt="bluetooth - Rhosigma" />
              </div>
              <div class="swiper-slide technologies__slider-card communication-protocol">
                <img width="200" height="200" loading="lazy" src="/images/snmp_6.webp" alt="SNMP - Rhosigma" />
              </div>
              <div class="swiper-slide technologies__slider-card communication-protocol">
                <img width="200" height="200" loading="lazy" src="/images/bridging-gap-between-bits-barrels.webp"
                  alt="HART - Rhosigma" />
              </div>
              <div class="swiper-slide technologies__slider-card communication-protocol">
                <img width="200" height="200" loading="lazy" src="/images/dlms.webp" alt="Dlms - Rhosigma" />
              </div>

              <!-- ??!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!??????????????????????????!!!!!!!!!!!!!!!!!!! -->

              <div class="swiper-slide technologies__slider-card wired-interfaces">
                <img width="200" height="200" loading="lazy" src="/images/rs-232_6.webp" alt="rs-232 - Rhosigma" />
              </div>
              <div class="swiper-slide technologies__slider-card wired-interfaces">
                <img width="200" height="200" loading="lazy" src="/images/ethernet.webp" alt="ethernet - Rhosigma" />
              </div>
              <div class="swiper-slide technologies__slider-card wired-interfaces">
                <img width="200" height="200" loading="lazy" src="/images/rs-485_6.webp" alt="rs-485 - Rhosigma" />
              </div>
              <div class="swiper-slide technologies__slider-card wired-interfaces">
                <img width="200" height="200" loading="lazy" src="/images/uart_6.webp" alt="uart - Rhosigma" />
              </div>
              <div class="swiper-slide technologies__slider-card wired-interfaces">
                <img width="200" height="200" loading="lazy" src="/images/i2c_6.webp" alt="I2C - Rhosigma" />
              </div>
              <div class="swiper-slide technologies__slider-card wired-interfaces">
                <img width="200" height="200" loading="lazy" src="/images/spi_6.webp" alt="spi - Rhosigma" />
              </div>
              <div class="swiper-slide technologies__slider-card wired-interfaces">
                <span class="p-1 fc-a fw-7">4 - 20 mA</span>
              </div>
              <div class="swiper-slide technologies__slider-card wired-interfaces">
                <img width="200" height="200" loading="lazy" src="/images/can.webp" alt="can - Rhosigma" />
              </div>
              <div class="swiper-slide technologies__slider-card wired-interfaces">
                <img width="200" height="200" loading="lazy" src="/images/usb_6.webp" alt="USB - Rhosigma" />
              </div>

              <!-- ??!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!??????????????????????????!!!!!!!!!!!!!!!!!!! -->

              <div class="swiper-slide technologies__slider-card wireless-interfaces">
                <img width="200" height="200" loading="lazy" src="/images/wireless-bluetooth_1.webp"
                  alt="bluetooth - Rhosigma" />
              </div>
              <div class="swiper-slide technologies__slider-card wireless-interfaces">
                <img width="200" height="200" loading="lazy" src="/images/wi-fi_6.webp" alt="wifi - Rhosigma" />
              </div>
              <div class="swiper-slide technologies__slider-card wireless-interfaces">
                <img width="200" height="200" loading="lazy" src="/images/WIRELESS-1_6.webp"
                  alt="wireless - Rhosigma" />
              </div>
              <div class="swiper-slide technologies__slider-card wireless-interfaces">
                <img width="200" height="200" loading="lazy" src="/images/WIRELESS-2_1.webp"
                  alt="wireless - Rhosigma" />
              </div>
              <div class="swiper-slide technologies__slider-card wireless-interfaces">
                <span class="p-1 fc-a fw-7">GSM GPRS 4G</span>
              </div>
              <div class="swiper-slide technologies__slider-card wireless-interfaces">
                <img width="200" height="200" loading="lazy" src="/images/lora_5.webp" alt="lora - Rhosigma" />
              </div>
              <div class="swiper-slide technologies__slider-card wireless-interfaces">
                <img width="200" height="200" loading="lazy" src="/images/WIRELESS-3_1.webp"
                  alt="wireless - Rhosigma" />
              </div>

              <!-- ??!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!??????????????????????????!!!!!!!!!!!!!!!!!!! -->
              <div class="swiper-slide technologies__slider-card display">
                <span class="p-1 fc-a fw-7">OLED</span>
              </div>
              <div class="swiper-slide technologies__slider-card display">
                <span class="p-1 fc-a fw-7">SEVEN</span>
              </div>
              <div class="swiper-slide technologies__slider-card display">
                <span class="p-1 fc-a fw-7">SEGMENT</span>
              </div>
              <div class="swiper-slide technologies__slider-card display">
                <span class="p-1 fc-a fw-7">LCD</span>
              </div>
              <div class="swiper-slide technologies__slider-card display">
                <span class="p-1 fc-a fw-7">TFT</span>
              </div>
              <div class="swiper-slide technologies__slider-card display">
                <span class="p-1 fc-a fw-7">DOT MATRIX</span>
              </div>

              <!-- ??!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!??????????????????????????!!!!!!!!!!!!!!!!!!! -->
              <div class="swiper-slide technologies__slider-card touch">
                <span class="p-1 fc-a fw-7">RESIS-TIVE</span>
              </div>
              <div class="swiper-slide technologies__slider-card touch">
                <span class="p-1 fc-a fw-7">CAPA-CITIVE</span>
              </div>
              <div class="swiper-slide technologies__slider-card touch">
                <span class="p-1 fc-a fw-7">INFRARED</span>
              </div>
              <div class="swiper-slide technologies__slider-card touch">
                <span class="p-1 fc-a fw-7">PCAP</span>
              </div>

              <!-- ??!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!??????????????????????????!!!!!!!!!!!!!!!!!!! -->
              <div class="swiper-slide technologies__slider-card memory">
                <span class="p-1 fc-a fw-7">SD-RAM</span>
              </div>
              <div class="swiper-slide technologies__slider-card memory">
                <span class="p-1 fc-a fw-7">SD-CARD</span>
              </div>
              <div class="swiper-slide technologies__slider-card memory">
                <span class="p-1 fc-a fw-7">NVS-RAM</span>
              </div>
              <div class="swiper-slide technologies__slider-card memory">
                <span class="p-1 fc-a fw-7">EEPROM</span>
              </div>
              <div class="swiper-slide technologies__slider-card memory">
                <span class="p-1 fc-a fw-7">FLASH</span>
              </div>

              <!-- ??!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!??????????????????????????!!!!!!!!!!!!!!!!!!! -->
              <div class="swiper-slide technologies__slider-card processor">
                <span class="p-1 fc-a fw-7">ARM</span>
              </div>
              <div class="swiper-slide technologies__slider-card processor">
                <span class="p-1 fc-a fw-7">M0 - M7</span>
              </div>
              <div class="swiper-slide technologies__slider-card processor">
                <span class="p-1 fc-a fw-7">ESP32</span>
              </div>
              <div class="swiper-slide technologies__slider-card processor">
                <span class="p-1 fc-a fw-7">DSP/DSC</span>
              </div>
              <div class="swiper-slide technologies__slider-card processor">
                <span class="p-1 fc-a fw-7">16-bit / 8-bit</span>
              </div>

              <!-- ??!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!??????????????????????????!!!!!!!!!!!!!!!!!!! -->
              <div class="swiper-slide technologies__slider-card sensors">
                <span class="p-1 fc-a fw-7">TEMPERATURE</span>
              </div>
              <div class="swiper-slide technologies__slider-card sensors">
                <span class="p-1 fc-a fw-7">VISION</span>
              </div>
              <div class="swiper-slide technologies__slider-card sensors">
                <span class="p-1 fc-a fw-7">PROXIMITY</span>
              </div>
              <div class="swiper-slide technologies__slider-card sensors">
                <span class="p-1 fc-a fw-7">INFRARED</span>
              </div>
              <div class="swiper-slide technologies__slider-card sensors">
                <span class="p-1 fc-a fw-7">PRESSURE</span>
              </div>
              <div class="swiper-slide technologies__slider-card sensors">
                <span class="p-1 fc-a fw-7">ORIENTATION</span>
              </div>
              <div class="swiper-slide technologies__slider-card sensors">
                <span class="p-1 fc-a fw-7">MOTION</span>
              </div>
              <div class="swiper-slide technologies__slider-card sensors">
                <span class="p-1 fc-a fw-7">LEVEL</span>
              </div>
              <div class="swiper-slide technologies__slider-card sensors">
                <span class="p-1 fc-a fw-7">HUMIDITY</span>
              </div>
              <div class="swiper-slide technologies__slider-card sensors">
                <span class="p-1 fc-a fw-7">FLOW</span>
              </div>
              <div class="swiper-slide technologies__slider-card sensors">
                <span class="p-1 fc-a fw-7">GAS</span>
              </div>
              <div class="swiper-slide technologies__slider-card sensors">
                <span class="p-1 fc-a fw-7">ULTRA-VIOLET</span>
              </div>
            </div>
          </div>
        </section>
        <!-- ! Technologies we use -->

        <!-- !Unparalleled Value-->
        <section class="container unparalleled-value p-t-75 p-b-75">
          <h2 class="h2 m-b-20">Unlocking Unparalleled Value</h2>
          <div class="unparalleled-value__main-content">
            <p class="p-2 fc-s fw-5 lh-150">
              At Rhosigma, innovation meets precision, and success is a shared
              journey. Our value proposition goes beyond conventional offerings,
              bringing forth a unique blend of innovation, precision, and
              client-centricity. By leveraging cutting-edge technologies, we deliver
              a strategic advantage, ensuring that your projects are future-ready.
            </p>
            <div class="unparalleled-value__visual-content">
              <img width="300" height="200" loading="lazy" src="/images/firmware-development.webp"
                alt="unparalleled values - Rhosigma" />
              <img width="300" height="200" loading="lazy" src="/images/who-we-are-img-2_6.webp"
                alt="unparalleled values - Rhosigma" />
              <video width="300" height="200" autoplay muted playsinline loop>
                <source src="/images/drone.mp4" />
              </video>
              <img width="300" height="200" loading="lazy" src="/images/who-we-are-img-3_6.webp"
                alt="unparalleled values - Rhosigma" />
            </div>
            <p class="p-2 fc-s fw-5 lh-150">
              Our tailored solutions are designed to meet the specific needs of each
              client, providing not only services but a partnership grounded in
              excellence. With a client-centric approach at our core, Rhosigma
              redefines industry standards, offering transformative experience.
              Choose Rhosigma for unparalleled value that goes beyond expectations.
            </p>
            <a href="/contact-us" class="rhosigma-btn">Let's Connect</a>
          </div>
        </section>
        <!-- !Unparalleled Value-->

        <%- include('partials/contact') %> <%- include('partials/footer') %>

            <script src="/javascript/swiper.js"></script>

            <!-- ! Image Popup -->
            <script>
              // Function to show the popup after 5 seconds
              function showPopup() {
                document.getElementById("popupContainer").style.display = "block";
              }

              // Call the showPopup function after 5 seconds
              setTimeout(showPopup, 5000);

              // Function to close the popup
              function closePopup() {
                document.getElementById("popupContainer").style.display = "none";
              }
            </script>
            <!-- ! Image Popup -->

            <!-- !active card -->
            <script>
              document.addEventListener("DOMContentLoaded", function () {
                const cards = document.querySelectorAll(".technologies__grid-slide");

                cards.forEach((card) => {
                  card.addEventListener("click", function () {
                    // Remove 'active' class from all cards
                    cards.forEach((c) => c.classList.remove("active"));

                    // Add 'active' class to the clicked card
                    this.classList.add("active");
                  });
                });
              });
            </script>
            <!-- !active card -->

            <!-- ! Filtering cards -->
            <script>
              document.addEventListener("DOMContentLoaded", function () {
                const filterButtons = document.querySelectorAll(
                  ".silder-card .swiper-slide"
                );
                const itemsToFilter = document.querySelectorAll(
                  ".slier-234 .swiper-slide"
                );
                const overFlow = document.querySelector(".slier-234");

                function handleFilterButtonClick(button) {
                  const filterClass = button.getAttribute("data-filter");

                  filterButtons.forEach((btn) => btn.classList.remove("active"));
                  itemsToFilter.forEach((item) => item.classList.remove("active"));

                  button.classList.add("active");

                  itemsToFilter.forEach((item) => {
                    item.remove();
                  });

                  itemsToFilter.forEach((item) => {
                    if (item.classList.contains(filterClass) || filterClass === "all") {
                      overFlow.appendChild(item);
                      item.classList.add("active");
                    }
                  });

                  swiper2.update();
                }

                filterButtons.forEach((button) => {
                  button.addEventListener("click", function () {
                    handleFilterButtonClick(button);
                  });
                });

                handleFilterButtonClick(filterButtons[0]);
              });
            </script>
            <!-- ! Filtering cards -->

            <!-- !Changing slier to grid -->
            <script>
              const list = document.querySelector(".technologies__grid-view").classList;
              const listTwo = document.querySelector(".swiper-wrapper").classList;
              var x = window.matchMedia("(max-width: 991px)");

              function myFunction(x) {
                if (x.matches) {
                  list.add("swiper-wrapper");
                  list.remove("technologies__grid-view");
                  listTwo.remove("swiper-wrapper");
                  listTwo.add("technologies__slid-view");
                } else {
                  list.add("technologies__grid-view");
                  list.remove("swiper-wrapper");
                  listTwo.add("swiper-wrapper");
                  listTwo.remove("technologies__slid-view");
                }
              }

              myFunction(x);

              x.addEventListener("change", function () {
                location.reload();
                myFunction(x);
              });
            </script>
            <!-- !Changing slier to grid -->

            <!-- !Grid Slied -->
            <script>
              var swiper1 = new Swiper(".mySwiper", {
                slidesPerView: 1,
                spaceBetween: 20,
                breakpoints: {
                  320: {
                    slidesPerView: 1,
                  },
                  480: {
                    slidesPerView: 2,
                  },
                },
              });
            </script>
            <!-- !Grid Slied -->

            <!-- ! Slider grid -->
            <script>
              var swiper2 = new Swiper(".mySwiper2", {
                slidesPerView: 5,
                spaceBetween: 20,
                navigation: {
                  nextEl: ".swiper-button-next",
                  prevEl: ".swiper-button-prev",
                },
                breakpoints: {
                  992: {
                    slidesPerView: 3,
                  },
                  1200: {
                    slidesPerView: 4,
                  },
                  1440: {
                    slidesPerView: 5,
                  },
                  1920: {
                    slidesPerView: 5,
                  },
                },
              });
            </script>
            <!-- ! Slider grid -->

            <!-- ! Hero Section -->
            <script>
              const left = document.getElementById("hero-slider__left-side");
              const sliderBtn = document.querySelector(".hero-slider__slider-btn");
              let isDragging = false;

              sliderBtn.addEventListener("mousedown", () => {
                isDragging = true;
              });

              document.addEventListener("mouseup", () => {
                isDragging = false;
              });

              document.addEventListener("mousemove", (e) => {
                if (isDragging) {
                  const newPosition = (e.clientX / window.innerWidth) * 100;
                  left.style.width = `${newPosition}%`;
                }
              });

              sliderBtn.addEventListener("touchstart", () => {
                isDragging = true;
              });

              document.addEventListener("touchend", () => {
                isDragging = false;
              });

              document.addEventListener("touchmove", (e) => {
                if (isDragging) {
                  const newPosition = (e.touches[0].clientX / window.innerWidth) * 100;
                  left.style.width = `${newPosition}%`;
                }
              });
            </script>

            <!-- ! Hero Section -->
</body>

</html>